.top-header{
    height: 80px;
    background-color: #e6e4e3;
    color: #e6e4e3;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    padding-top: 10px;
    display: inline;
    font-size: large;    
    padding: 50px;   
    text-decoration: none;
}

.nav-link{
    color: white;
    font-weight: bold;
}

